html,
body {
  height: 100%;
  font-family: 'alegreya_sans', sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
}

body {
  background-color: black; 
}

ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
  padding-left: 0; /*убираем левый отступ, равный 40px*/
}

a 
{text-decoration: none; /*убираем подчеркивание текста ссылок*/}


ul,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

b {
  font-weight: bold;
}

ul li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

.wrapper {
  background: linear-gradient(135deg, rgb(148 190 233) 0%, rgb(15, 191, 235) 100%);
  
  position: relative;
  
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.wrapper__content {
  height: 100%;
  transition: transform 1s;
  /* flex: 1; */
  
}

.section {
  height: 100vh;
  width: 100%;
  /* min-height: 650px; */
  /* flex: 1; */
}

.container {
  margin: 0 auto;
  max-width: 940px;
  width: 95%;
}