.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 90vw; */
  /* max-height: 90vh; */
  position: relative;
  overflow: hidden;
}

.slider__content {
  display: flex;
  height: 100%;
  width: 90vw;
  /* width: 20vw; для дебага */
  /* overflow: hidden; */
  transition: transform 0.3s;
}

.slider__image,
.slider__content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* transition: transform 0.3s; */
}

/* .slider__control {
  position: absolute;
  height: 100%;
} */

button {
  all: unset;
}

.control {
  position: absolute;

  height: 100%;

  background-color: rgba(55, 55, 55, 0.3);

  padding: 0 1%;
  cursor: pointer;
  color: #fff;
  font-size: 4rem;
}

.control:hover {
  background-color: rgba(55, 55, 55, 0.8);
  transition: all 0.3s;
}

.control__prev {
  left: 0;
}
.control__next {
  right: 0;
}

.slider__control {
  display: flex;
  align-items: center;
  justify-content: center;
}

.control__dot {
  width: 20px;
  height: 20px;

  margin:10px;

  border-radius: 50%;
  border: 1px solid transparent;
  background-color: rgba(55, 55, 55, 0.3);

  cursor: pointer;

}

.control__dot:hover, .control__dot.active{
  background-color: rgba(55, 55, 55, 0.8);
  border: 1px solid whitesmoke;
  transition: all .3s;
}